/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #e0f7fa; /* Light blue background */
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  color: #0277bd; /* Darker blue for headings */
  margin: 10px 0;
}

h1 {
  margin-top: 20px;
}

h2 {
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #81d4fa; /* Light blue border */
  border-radius: 4px;
  width: 200px;
  background-color: #ffffff; /* White background */
}

button {
  background-color: #0288d1; /* Primary button color */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0277bd; /* Darker blue on hover */
}

.quotes {
  list-style-type: none;
  padding: 0;
  width: 80%;
  max-width: 600px;
}

.quotes .quote {
  background-color: #ffffff; /* White background for quotes */
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #81d4fa; /* Light blue border */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.quotes .quote .name {
  font-weight: bold;
  color: #0277bd; /* Darker blue for names */
  flex: 0 0 auto; /* Name takes only as much space as it needs */
  margin-right: 10px;
}

.quotes .quote .quote-text {
  font-weight: normal;
  color: #666;
  flex: 1; /* Quote text takes up the remaining space */
  word-wrap: break-word; /* Ensure long words break to the next line */
}

#update-message,
#message {
  margin-top: 10px;
  font-size: 14px;
  color: #d32f2f; /* Red for error messages */
}

@media (max-width: 600px) {
  input[type="text"] {
    width: 100%;
  }

  .quotes {
    width: 100%;
  }
}
